#fotos { 
    display:block; 
}

.mySwiper{
    width: 100%;
    height:auto;
}

.swiper-wrapper img{
    width: 100%;
    height:auto;
}

.swiper{
    margin-bottom: 0;
}

.float{
    width:30px;
    height:30px;
    top:40px;
    left:40px;
    background-color:transparent;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow:none;
    transition: all .5s;
}

.float:hover {
    text-decoration: background;
    color:background;
    background-color:transparent;
}

.my-float{
    margin-top:14px;
}

