:root{
    --calbion: #154388;
    --calbionsecundario: #1294CD;
    --gris1: #DAD9DC;
    --gris2: #b2b2b2;
    --gris3: #878787;
    --letra: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --letranav: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.botonestiposlineas {
    display: flex; /* Usa flexbox para el contenedor */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas adicionales */
    gap: 10px; /* Espacio entre botones */
    margin-bottom: 20px; /* Espacio adicional en la parte inferior del contenedor */
}

.botonestiposlineas a {
    background-color: var(--calbion);
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    white-space: nowrap; /* Evita que el texto del botón se ajuste */
    transition: background-color 0.3s; /* Suaviza la transición de color */
}

.botonestiposlineas a:hover {
    background-color: var(--calbionsecundario);
}

h2 {
    font-size: 55px;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.titulolinea{
    color: white;
    text-align: left;
    padding-top: 150px;
}

/*DENTRO DE TABLA*/
table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(247, 247, 247);
}

th {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

td {
    text-align: center;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    width: auto;
    text-align: center;
    margin: auto;
}

.modal{
    --bs-modal-width: 95%;
}

.modal p{
    text-align: left;
}

.modal-header{
    padding-bottom: 45px;
}

.nav-tabs{
    position: fixed;
    padding-top: 50px;
}

.imglinea{
    width: 100%;
    height: 400px;
}

.swiper {
    width: 500px;
    margin: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.fotos img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* Estilo básico para el botón "cotizar" */
#cotizar {
    background-color: var(--calbion);
    border-radius: 20px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    white-space: normal; /* Permite que el texto se ajuste según el ancho del botón */
    text-align: center; /* Alinea el texto al centro */
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: background 0.5s;
}

#cotizar:hover {
    background-color: var(--calbionsecundario);
}

.produccion_cel{
    display: none;
}


/*MODELO*/
.modelo {
    width: 15%;
}

/*PRODUCCION*/
.produccion {
    width: 15%;
}

/*FOTOS*/
.fotos {
    width: 55%;
}

/*COTIZAR*/
.cotizar {
    width: 15%;
}

@media screen and (max-width: 1279px) {
    table {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 1100px) {
    td {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 800px) {
    .produccion_cel{
        display: block;
    }
    .produccion{
        display: none;
    }
    /*MODELO*/
    .modelo {
        width: 30%;
    }
    /*FOTOS*/
    .fotos {
        width: 40%;
    }
    /*COTIZAR*/
    .cotizar {
        width: 30%;
    }
}


@media screen and (max-width: 600px) {
    #cotizar {
        font-size: 90%;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 400px) {
    #cotizar {
        font-size: 80%;
        padding: 6px 12px;
    }
}

footer{
    margin-top: 200px;
}

.modal{
    z-index: 9999;
}

.cardscontainer{
    display: flex;
}

.cardscontainer a{
    margin-right: 10px;
}