:root{
    --calbion: #154388;
    --calbionsecundario: #1294CD;
    --gris0: #ececee;
    --gris1: #DAD9DC;
    --gris2: #b2b2b2;
    --gris3: #878787;
    --gris4: #616161;
    --gris5: #3b3b3b;
    --letra: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --letranav: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   

*{
    padding: 0px;
    margin: 0px;
    z-index: 1000;
    box-sizing: border-box;
}

.contactanoshtml{
    width: 100%;
    padding-top: 140px;
    padding-left: 10%;
}

.contactanoshtml h2{
    text-align: left;
    font-family: var(--letra);
    color: black;
}

body {
	font-family: 'Roboto', sans-serif;
	background: white;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-right: 5%;
	padding-left: 5%;
	height: auto;
	overflow: hidden;
}

.formulario__grupo {
	width: 50%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0;
	float: left;
	min-height: 140px;
}

.formulario__grupom{
	width: 100%;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input2 {
	height: 95px;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	padding: 0;
	padding-top: 5px;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	margin-top: 20px;
	background: var(--calbion);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 45px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	background: var(--calbionsecundario);
	transition: background 0.5s;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


@media screen and (max-width: 950px) {
	.formulario__grupo {
		width: 100%;
		min-height: fit-content;
	}
	.formulario__btn {
		width: 30%;
	}
}