:root{
    --calbion: #154388;
    --calbionsecundario: #1294CD;
    --gris1: #DAD9DC;
    --gris2: #b2b2b2;
    --gris3: #878787;
    --letra: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --letranav: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-padding-top: 90px;
}   

*{
    padding: 0px;
    margin: 0px;
    z-index: 1000;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

@media screen and (min-width: 1500px) {
    .body2{
        margin-left: calc(50% - 750px);
        margin-right: calc(50% - 750px);
        max-width: 1500px;
    }
}

/* WhatsApp */
.float{
    position:fixed;
    width:65px;
    height:65px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    box-shadow: 2px 2px 3px #999;
    z-index:9999999;
    transition: all .5s;
}
.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color:#fff;
}
.my-float{
    margin-top:14px;
}
@media screen and (max-width: 900px) {
    .float{
        bottom:20px;
        right:20px;
    }
}
@media screen and (max-width: 600px) {
    .float{
        bottom:10px;
        right:10px;
    }
}

/* NAVEGATOR */

.pagepadding{
    margin: 0;
    padding-left: 5%;
    padding-right: 5%; 
}

@media screen and (min-width: 1500px) {
    .pagepadding{
        padding: 0;
        margin-left: calc(50% - 700px);
        margin-right: calc(50% - 700px);
        max-width: 1400px;
    }
}

nav{
    position: fixed;
    width: 100%;
    height: 90px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    box-shadow: 0px 0.05px 2px 0.05px #9ba0ff;
    z-index: 2000;
}

nav img{
    height: 50px;
    margin: 15px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    padding-left: 2%;
}

.navbar-text {
    padding: 0;
    margin: 0;
    padding-right: 2%;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul, ol {
    list-style:none;
}

.nav li {
    position: relative;
}

.nav > li {
    display: flex;
    align-items: center;
}

.nav ul{
    float: right;
    padding-right: 0px;
}

.nav li a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;
    display:block;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:120px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    top:0px;
}

nav a:hover{
    color: var(--calbion);
    transition: color 0.3s;
    filter: brightness(150%);
}

.nav > li > a {
    display: inline-flex;
    align-items: center;
    height: 90px; /* Altura del nav */
    line-height: 1.2; /* Ajusta según sea necesario */
    white-space: normal; /* Permite el salto de línea con <br> */
    text-align: center;
}

.navbar-dropdown{
    background-color: white;
    width: 200px;
    margin-left: 0px;
    margin-top: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 100%;
    left: 35px;
    padding: 0;
}

.navbar-dropdown li{
    padding-left: 15px;
    line-height: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-dropdown li a{
    font-size: 15px;
    font-weight: 400;
    padding-left: 0px;
}

.navbar-dropdown a:hover{
    font-weight: 600;
}

.contactar {
    background-color: var(--calbion);
    border-radius: 30px;
    border: none;
    display: inline-flex; /* Cambio a flex para centrar el contenido */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 5px 15px; /* Ajusta el relleno según sea necesario */
    height: auto; /* Altura automática para adaptarse al contenido */
    white-space: nowrap; /* Evita que el texto se ajuste a una nueva línea */
}

.contactar:hover {
    background-color: var(--calbionsecundario);
    transition: background 0.5s;
}

h3 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 110%;
    margin: 0;
}

.checkbtn{
    float: right;
    line-height: 90px;
    cursor: pointer;
    display: none;
    padding-right: 2%;
}

.checkbtn img{
    height: 40px;
    margin-top: 25px;
}

/* LEFTNAV */

.leftnav{
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    transition: all .5s;
    z-index: 10000000;
    padding: 20px;
}

.leftnav-close {
    position: absolute;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    cursor: pointer;
}

.leftnav ul{
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.nav-item{
    width: 100%;
    margin-bottom: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #a3a3a2;
    padding: 15px 0;
}

.dropdown-menu li{
   padding: 10px 10px; 
}

.navbar{
    display: contents;
}

.leftnav a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 0 0;
    margin: 0; 
}

.leftnav a:hover {
    background-color: #f8f8f8;
}

.leftnav a:last-child {
    border-bottom: none;
}

.leftnav hr {
    margin-top: 0; /* Reduce el margen superior */
    margin-bottom: 0; /* Reduce el margen inferior */
    border: 0; /* Elimina el borde predeterminado */
    height: 1px; /* Altura de la línea */
    background-color: black; /* Color de la línea */
    margin: 0 30px;
}

.idiomas{
    width: 150px;
    z-index: 1999;
    position: fixed;
    margin-top: 90px;
    margin-left: calc(100% - 104px);
    margin-right: 40px;
    height: 50px;    
}

@media screen and (max-width: 1279px) {

    .nav ul li a{
        font-size: 14px;
    }

    .nav li a{
        padding-left: 20px;
    }
}

@media screen and (max-width: 1279px) {
    .navbar-links{
        display: none;
    }
    .checkbtn{
        display: block;
    }
    .leftnav.active{
        left: 0;
    }
}

@media screen and (max-width: 360px) {

    nav img{
        margin-left: 20px;
        height: 50px;
        margin-top: 20px;
    }

    .checkbtn img{
        margin-right: 20px;
    }

}

@media screen and (max-width: 270px) {

    nav img{
        margin-left: 10px;
        height: 40px;
        margin-top: 30px;
    }

    .checkbtn img{
        margin-right: 10px;
    }

}

/* HEADER */

header{
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;

}

.headertext{
    width: 100%;
    height: 100%;
    padding-top: 110px;
    display: flex;
}

.cardheadertext{
    width: 50%;
    height: 150px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 150px;
    text-align: center;

}

.cardheadertext p,h4{
    font-family: var(--letra);
    color: white;
    font-weight: 900;
    font-size: 180%;
    text-shadow: 1px 1px 10px var(--calbion);
}

.cardheadertext h4{
    font-size: 500%;
}

@media screen and (max-width: 750px) {
    #cardheadertext3{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #cardheadertext2{
        display: none;
    }
    .cardheadertext{
        width: 100%;
        height: 150px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 150px;
        text-align: center;
    }
}

/* ABOUT US */

.historia{
    width: 100%;
    padding-bottom: 0%;
    padding-left: 2%;
    padding-right: 2%;
}

.historia img{
    width: 50%;
    float: right;
    margin-left: 5%;
    z-index: 1;
}

.historia h2, article{
    color: #2e2e2e;
    text-align: justify;
    font-family: var(--letranav);
}

.historia h2{
    text-align: left; 
    color: black;
}

.historia a{
    text-decoration: underline;
}

@media screen and (max-width: 935px) {
    .historia{
        display:flex;
        flex-direction:column;
    }
    .historia img{
        float: none;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        order: 1;
        margin-top: 5%;
    }
}


/* CARDS CONTAINERS */

h2{
    text-align: center;
    color: black;
    font-family: var(--letranav);
    font-size: 50px;
    font-weight: 700;
}

.cardscontainer{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    padding-bottom: 0;
    height: fit-content;
    overflow: hidden; 
}

@media screen and (max-width: 1279px) {

    .cardscontainer{
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 0; 
        margin-right: 0;
    }

}

@media screen and (max-width: 950px) {
    h2{
        font-size: 45px;
    }
}

@media screen and (max-width: 800px) {
    h2{
        font-size: 50px;
    }
    .cardscontainer{
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 0; 
        margin-right: 0;
    }

}

@media screen and (max-width: 700px) {
    h2{
        font-size: 45px;
    }
    .cardscontainer{
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    h2{
        font-size: 40px;
    }
    .cardscontainer{
        margin-top: 25px;
    }
}

@media screen and (max-width: 500px) {
    h2{
        font-size: 35px;
    }
    .cardscontainer{
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    h2{
        font-size: 30px;
    }
    .cardscontainer{
        margin-top: 10px;
    }
}

@media screen and (max-width: 340px) {
    h2{
        font-size: 25px;
    }
}

@media screen and (max-width: 280px) {
    h2{
        font-size: 20px;
    }
}

/* LINEAS */

.linescontainer{
    width: 100%;
    font-family: var(--letranav);
}

.cards{
    margin: 2%;
    width: 21%;
    float: left;
    overflow: hidden;
    position: relative;
}

.cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}

.cardcontent{
    height: 70px;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    color: white;
    background-color: rgb(27, 27, 27, .5);
    margin-top: -70px;
    text-align: center;
    transition: all .5s;
}

.cardcontent h6{
    margin: 5px;
    font-size: 40px;
}

.cards:hover img{
    transform: scale(1.1) rotate(-3deg);
}

.cards:hover .cardcontent{
    height: 100px;
    margin-top: -100px;
    background-color: rgb(27, 27, 27, .9);
}

@media screen and (max-width: 1200px){
    .cards{
        width: 29.33333%;
    }
}

@media screen and (max-width: 1150px){
    .cardcontent h6{
        font-size: 35px;
    }
}

@media screen and (max-width: 1000px){
    .cardcontent h6{
        font-size: 30px;
    }
}

@media screen and (max-width: 900px){
    .cardcontent h6{
        font-size: 26px;
    }
}

@media screen and (max-width: 800px){
    .cardcontent h6{
        font-size: 40px;
    }
    .cards{
        width: 46%;
    }
}

@media screen and (max-width: 750px){
    .cardcontent h6{
        font-size: 36px;
    }
}

@media screen and (max-width: 700px){
    .cardcontent h6{
        font-size: 32px;
    }
}

@media screen and (max-width: 600px){
    .cardcontent h6{
        font-size: 28px;
    }
}

@media screen and (max-width: 520px){
    .cardcontent{
        height: 80px;
        padding: 2px;
        margin-top: -80px;
    }
}

@media screen and (max-width: 400px){
    .cardcontent{
        height: 60px;
        margin-top: -60px;
    }
    .cardcontent h6{
        font-size: 22px;
    }
}

@media screen and (max-width: 350px){
    .cardcontent h6{
        font-size: 18px;
    }
    .cardcontent{
        height: 50px;
        margin-top: -50px;
    }
}


/* REPRESENTACIONES */

.cards3{
    margin: 2%;
    width: 21%;
    float: left;
    overflow: hidden;
}

.cardsimg3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#representaciones{
    background-color: var(--calbion);
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#representaciones h2{
    color: white;
}

@media screen and (max-width: 950px){
    .representaciones{
        padding-left: 20%;
        padding-right: 20%;
    }
    .cards3{
        width: 45%;
    }
}

@media screen and (max-width: 800px){
    .representaciones{
        padding-left: 10%;
        padding-right: 10%;
    }
    .cards3{
        width: 45%;
    }
}


/* SERVICIOS */

#servicios{
    text-align: left;
    background-color: #f6f3f3;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    font-size: 1.6em;
}

.list-unstyled li {
    padding: 0;
    padding-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

/* Servicios list */
ul.list-unstyled {
    padding-left: 0;
    list-style-type: none;
}

.fa-check:before {
    margin-right: 10px;
}

.list-unstyled{
    padding-right: 4%;
}

/* Responsive Image */
.img-fluid {
    max-width: 100%;
    height: auto;
    padding-left: 50%;
}

/* Adjustments for text size and icons */
@media screen and (max-width: 768px) {

    ul.list-unstyled li {
        font-size: 1rem; /* Smaller font size on small devices */
        padding-top: 0px;
    }

    ul.list-unstyled li i {
        font-size: 1.2rem; /* Larger icons on small devices */
    }

    .list-of-services {
        font-size: 1em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }

    .align-items-center{
        padding-top: 0;
    }

    .img-fluid {
        display: none;
    }
}

/* TESTIMONIOS */

.swiper{
    background-color: rgb(247, 247, 247); 
    margin-bottom: 70px;
}

.swiper-button-prev{
    padding-left: 50px;
}

.swiper-button-next{
    padding-right: 50px;
}

.swiper-button-prev, .swiper-button-next{
    opacity: 0.7;
    color: var(--calbion);
    transition: all 0.3s ease;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    opacity: 1;
    color: var(--calbion);
}

.testimonios{
    padding-top: 20px;
    padding-bottom: 40px;
}

.testimonios{
    padding-left: 12%;
    padding-right: 12%;
}

.testimonios hr{
    margin-right: 30%;
}

.testimonios h2{
    text-align: left;
}

.testimoniostext{
    display: flex;
    text-align: justify;
}

@media screen and (max-width: 800px) {
    .swiper-button-prev{
        padding-left: 30px;
    }

    .swiper-button-next{
        padding-right: 30px;
    }
}

@media screen and (max-width: 500px) {
    .swiper-button-prev{
        padding-left: 10px;
    }

    .swiper-button-next{
        padding-right: 10px;
    }
}

@media screen and (max-width: 400px) {
    .swiper-button-prev{
        display: none;
    }

    .swiper-button-next{
        display: none;
    }

    .testimonios{
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* FOOTER */

footer{
    height: 380px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

footer p{
    color: white;
    font-family: var(--letra);
    font-size: 150%;
    text-align: center;
}

footer h6{
    color: white;
    font-family: var(--letra);
    font-size: 110%;
    text-align: left;
    padding-top: 10%;
    line-height: 1.6;
}

.pie{
    height: 250px;
    width: 50%;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
}

.pie img{
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (min-width: 1500px) {
    .pie img{
        width: 470px;
    }
}

.info{
    width: 100%;
    padding: 3%;
}

.info h6{
    padding-top: 0%;
}

.info img{
    float: left;
    width: 40px;
    height: 40px;
    margin: 2px;
    margin-right: 8px;
    margin-top: -5px;
}

#info1{
    padding-top: 10%;
}

.copyri{
    width: 100%;
    height: 20px;
    padding-top: 340px;
}

.copyri p{
    font-size: 100%;
}

@media screen and (max-width: 1400px) {
    footer{
        height: 300px;
    }

    .copyri{
        padding-top: 200px;
    }
}

@media screen and (max-width: 980px) {
    footer p{
        font-size: 130%;
    }
}

@media screen and (max-width: 876px) {
    footer h6{
        font-size: 100%;
    }

    footer p{
        font-size: 110%;
    }
}

@media screen and (max-width: 782px) {
    .pie{
        padding-left: 0%;
        padding-right: 0%;
    } 
}

@media screen and (max-width: 600px) {

    .pie{
        float: none;
        height: 60px;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    #direccion{
        padding-top: 10px;
    }

    .info{
        padding: 0;
    }

    #info1{
        padding-top: 17%;
    }

    .info img{
        width: 30px;
        height: 30px;
    }

    .copyri{
        padding-top: 130px;
    }

    .logofooter{
        padding-left: 15%;
        padding-right: 15%;
    }

    footer h6{
        font-size: 90%;
    }

    footer p{
        font-size: 100%;
    }
}

@media screen and (max-width: 400px) {

    footer p{
        font-size: 70%;
    }

}
