<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" th:href="@{/css/stylescontacto.css}"/>
        <link rel="stylesheet" th:href="@{/css/styleslineas.css}"/>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


        <title th:text="${title}"></title>
    </head>

    <body>

        <!--        Logo de WhatsApp-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://wa.me/2615799499/?text=Buenos%20días,%20me%20comunico%20con%20Albion" class="float"
           target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>

        <div class="fijo">
            <nav>

                <div class="body2">
                    <a class="checkbtn">
                        <img th:src="@{/img/navbtn.png}" alt="">
                    </a>

                    <div class="navbar-logo">
                        <a href="#">
                            <img th:src="@{/img/logo.png}" alt="">
                        </a>
                    </div>

                    <div class="navbar-links">

                        <li>
                            <a th:href="@{/contacto/{idioma}(idioma=${idioma})}">
                                <button class="contactar">
                                    <h3 th:text="${nav5}"></h3>
                                </button>
                            </a>
                        </li>

                        <div class="navbar-text">

                            <ul class="nav">
                                <li><a th:href="@{/index/{idioma}(idioma=${idioma})}" th:text="${nav1}"></a></li>
                                <li>
                                    <a class="dropdown-toggle" href="#nosotros" th:text="${nav2}"></a>
                                    <ul class="navbar-dropdown">
                                        <li><a href="#nosotros" th:text="${nav2_1}"></a></li>
                                        <li><a href="#representaciones" th:text="${nav2_2}"></a></li>
                                        <li><a href="#servicios" th:text="${nav2_3}"></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-toggle" href="#lineas" th:text="${nav3}"></a>
                                    <ul class="navbar-dropdown">
                                        <li th:each="producto: ${productos}">
                                            <a  th:if="${idioma == 1}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_es}"></a>
                                            <a  th:if="${idioma == 2}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_en}"></a>
                                            <!--                                            <a  th:if="${idioma == 3}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_fr}"></a>
                                                                                        <a  th:if="${idioma == 4}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_br}"></a>-->
                                        </li>
                                        <hr/>
                                        <li><a href="" th:text="${producto_otro}"></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-toggle" href="#" th:text="${nav4}"></a>
                                    <ul class="navbar-dropdown">
                                        <li th:each="producto: ${productos}">
                                            <a  th:if="${idioma == 1}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_es}"></a>
                                            <a  th:if="${idioma == 2}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_en}"></a>
                                            <!--                                            <a  th:if="${idioma == 3}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_fr}"></a>
                                                                                        <a  th:if="${idioma == 4}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_br}"></a>-->
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>

            </nav>

            <div class="idiomas">
                <div class="idiomasright">
                    <!--                    <a th:if="${idioma != 4}" th:href="@{/index/4}">
                                            <img src="/img/pt.jpg" alt="Brasil">
                                        </a>
                                        <a th:if="${idioma != 3}" th:href="@{/index/3}">
                                            <img src="/img/fr2.png" alt="France">
                                        </a>-->
                    <a th:if="${idioma != 2}"  th:href="@{/linea/2/{producto}(producto=${producto.posicion})}">
                        <img th:src="@{/img/ing2.png}" alt="English">
                    </a>
                    <a th:if="${idioma != 1}" th:href="@{/index/1}">
                        <img th:src="@{/img/es.png}" alt="Argentina">
                    </a>
                </div>
            </div>

        </div>

        <div class="leftnav">
            <ul>
                <li><a th:href="@{/index/{idioma}(idioma=${idioma})}" th:text="${nav1}"></a></li>
                <li><a th:href="@{/nosotros/{idioma}(idioma=${idioma})}" th:text="${nav2_1}"></a></li>
                <li><a th:href="@{/lineas/{idioma}(idioma=${idioma})}" th:text="${nav3}"></a>
                <li><a th:href="@{/representaciones/{idioma}(idioma=${idioma})}" th:text="${nav2_2}"></a></li>
                <li><a th:href="@{/servicios/{idioma}(idioma=${idioma})}" th:text="${nav2_3}"></a></li>
                <li><a th:href="@{/equipos/{idioma}(idioma=${idioma})}" th:text="${nav4}"></a></li>
                <li>
                <li id="leftnavcontactar">
                    <a th:href="@{/contacto/{idioma}(idioma=${idioma})}"><button class="contactarnav" id="contactarleftnav">
                            <h3 th:text="${nav5}"></h3>
                        </button></a>
                </li>
            </ul>
        </div>

        <div class="leftnav2">
            <ul>
                <li th:each="producto: ${productos}">
                    <a  th:if="${idioma == 1}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_es}"></a>
                    <a  th:if="${idioma == 2}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_en}"></a>
<!--                    <a  th:if="${idioma == 3}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_fr}"></a>
                    <a  th:if="${idioma == 4}" th:href="@{/linea/{idioma}/{producto}(idioma=${idioma},producto=${producto.posicion})}" th:text="${producto.producto_br}"></a>-->
                </li>
                <hr />
                <li><a href="otros.html" th:text="${producto_otro}"></a></li>
                <hr />
            </ul>
            <ul>
                <li><a href="" class="cancelleftnav2" th:text="${volver}"></a></li>
            </ul>
        </div>

        <div class="body2">
            <div class="imglinea"   th:style="'background-image: url(' + @{/img/subscribe-bg4.jpg} + ');'"><h2 class="titulolinea" th:text="${productotitulo}" </h2></div>

            <div class="cardscontainer" id="lineas">
                <div class="botonestiposlineas" th:each="funcion: ${producto.funciones}" th:if="${funcion.lineas.size() > 0}">
                    <a th:text="${funcion.funcion_es}" th:href="'#'+${funcion.id}"></a>
                </div>
            </div>

            <div th:each="funcion: ${producto.funciones}" th:if="${funcion.lineas.size() > 0}">
                <div th:id="${funcion.id}">

                    <h2 th:text="${funcion.funcion_es}"></h2>
                    <table>
                        <tr>
                            <th th:text="${tabla_1}"></th>
                            <th th:text="${tabla_2}"></th>
                            <th th:text="${tabla_3}"></th>
                            <th th:text="${tabla_4}"></th>
                        </tr>
                        <tr th:each="linea: ${funcion.lineas}">
                            <td class="modelo">
                                <b><p th:text="${linea.modelo}"></p></b>
                                <p th:text="${linea.configuracion}"></p>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:data-modelo="${linea.modelo}" th:data-configuracion="${linea.configuracion}" th:data-produccion="${linea.produccion}" th:data-titulo-es="${linea.titulo_es}" th:data-titulo-en="${linea.titulo_en}" th:data-descripcion-es="${linea.descripcion_es}" th:data-descripcion-en="${linea.descripcion_en}" th:data-idioma="${idioma}">
                                    Ver
                                </button>
                            </td>

                            <td th:text="${linea.produccion}" class="produccion"></td>
                            <td class="fotos">
                                <div class="swiper mySwiper">
                                    <div class="swiper-wrapper">
                                        <div th:if="${linea.foto1} != null" class="swiper-slide"><img th:src="@{/foto/__${linea.foto1.id}__}"></div>
                                        <div th:if="${linea.foto2} != null" class="swiper-slide"><img th:src="@{/foto/__${linea.foto2.id}__}"></div>
                                        <div th:if="${linea.foto3} != null" class="swiper-slide"><img th:src="@{/foto/__${linea.foto3.id}__}"></div>
                                        <div th:if="${linea.foto4} != null" class="swiper-slide"><img th:src="@{/foto/__${linea.foto4.id}__}"></div>
                                        <div th:if="${linea.foto5} != null" class="swiper-slide"><img th:src="@{/foto/__${linea.foto5.id}__}"></div>
                                        <div th:if="${linea.foto6} != null" class="swiper-slide"><img th:src="@{/foto/__${linea.foto6.id}__}"></div>
                                        <div th:if="${linea.foto7} != null" class="swiper-slide"><img th:src="@{/foto/__${linea.foto7.id}__}"></div>
                                        <div th:if="${linea.foto8} != null" class="swiper-slide"><img th:src="@{/foto/__${linea.foto8.id}__}"></div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <a th:if="${linea.foto1 != null}" th:href="@{/verfoto/{id} (id=${linea.id})}" th:text="${imagen}"></a>
                                <p th:if="${linea.foto1 == null}" th:text="${noimagen}"></p>
                            </td>
                            <td class="cotizar">
                                <a th:href="@{/contacto/{idioma}/{producto}/{modelo}/{configuracion}(idioma=${idioma}, producto=${producto.posicion}, modelo=${linea.modelo}, configuracion=${linea.configuracion})}">
                                    <button class="contactar" id="cotizar">
                                        <h3 th:text="${cotizar}"></h3>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                    <div id="modal-content"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Swiper JS -->
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {
                slidesPerView: 1,
                spaceBetween: 0,
                loop: true,
                pagination: {
                el: ".swiper-pagination",
                clickable: true,
                },
                navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
                },
                });
            </script>

            <script>
                $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Botón que activa el modal
                var modelo = button.data('modelo'); // Obtener el valor del atributo 'data-modelo'
                var configuracion = button.data('configuracion'); // Obtener el valor del atributo 'data-configuracion'
                var produccion = button.data('produccion'); // Obtener el valor del atributo 'data-produccion'
                var tituloEs = button.data('titulo-es'); // Obtener el valor del atributo 'data-titulo-es'
                var tituloEn = button.data('titulo-en'); // Obtener el valor del atributo 'data-titulo-en'
                var descripcionEs = button.data('descripcion-es'); // Obtener el valor del atributo 'data-descripcion-es'
                var descripcionEn = button.data('descripcion-en'); // Obtener el valor del atributo 'data-descripcion-en'
                var idioma = button.data('idioma'); // Obtener el valor del atributo 'data-idioma'

                // Generar el contenido del modal
                var modalContent = '';

                if (modelo) {
                var labelModelo = idioma === 1 ? 'Modelo: ' : 'Model: ';
                modalContent += '<p>' + labelModelo + modelo + '</p>';
                }

                if (configuracion) {
                var labelConfiguracion = idioma === 1 ? 'Configuración: ' : 'Configuration: ';
                modalContent += '<p>' + labelConfiguracion + configuracion + '</p>';
                }

                if (produccion) {
                var labelProduccion = idioma === 1 ? 'Producción: ' : 'Production: ';
                modalContent += '<p>' + labelProduccion + produccion + '</p>';
                }

                if (idioma === 1) {
                // Idioma: Español
                if (tituloEs) {
                var labelTitulo = 'Equipos que la componen: ';
                modalContent += '<p>' + labelTitulo + tituloEs + '</p>';
                }

                if (descripcionEs) {
                var labelDescripcion = 'Descripción: ';
                modalContent += '<p>' + labelDescripcion + descripcionEs + '</p>';
                }
                } else if (idioma === 2) {
                // Idioma: Inglés
                if (tituloEn) {
                var labelTitulo = 'Inlcue this equipment: ';
                modalContent += '<p>' + labelTitulo + tituloEn + '</p>';
                }

                if (descripcionEn) {
                var labelDescripcion = 'Description: ';
                modalContent += '<p>' + labelDescripcion + descripcionEn + '</p>';
                }
                }

                $('#modal-content').html(modalContent); // Insertar el contenido en el modal
                });
            </script>

            <footer  th:style="'background-image: url(' + @{/img/tallerinferior.jpg} + ');'">

                <div class="pie">
                    <img class="logofooter" th:src="@{/img/logo.png}" alt="logo Albion">
                    <p>Food processing machinery</p>
                </div>
                <div class="pie" id="direccion">

                    <div class="info" id="info1">
                        <img th:src="@{/img/pictograma-mail.png}" alt="mail">
                        <h6>albion@albion.com.ar </h6>
                    </div>
                    <div class="info">
                        <img th:src="@{/img/pictograma-telefono.png}" alt="mail">
                        <h6>+54 261 432-6200</h6>
                    </div>
                    <div class="info">
                        <img th:src="@{/img/pictograma-ubicacion.png}">
                        <h6>Independencia 516 - Godoy Cruz - Mendoza - ARGENTINA</h6>
                    </div>

                </div>

                <div class="copyri">
                    <p>Copyright © 2022 ALBION</p>
                </div>

            </footer>

        </div>

        <script>
            const toggleButton = document.getElementsByClassName('checkbtn')[0]
            const navbarLinks = document.getElementsByClassName('leftnav')[0]

            toggleButton.addEventListener('click',()=> {
            navbarLinks.classList.toggle('active')
            })

            const hnav = document.getElementsByClassName('hnav')[0]
            hnav.addEventListener('click',()=> {
            navbarLinks.classList.toggle('active')
            })

            const representacionesnav = document.getElementsByClassName('representacionesnav')[0]
            representacionesnav.addEventListener('click',()=> {
            navbarLinks.classList.toggle('active')
            })

            const serviciosnav = document.getElementsByClassName('serviciosnav')[0]
            serviciosnav.addEventListener('click',()=> {
            navbarLinks.classList.toggle('active')
            })

            const contactarnav = document.getElementsByClassName('contactarnav')[0]
            contactarnav.addEventListener('click',()=> {
            navbarLinks.classList.toggle('active')
            })

            const hnosotros = document.getElementsByClassName('hnosotros')[0]
            hnosotros.addEventListener('click',()=> {
            navbarLinks.classList.toggle('active')
            })

            const lineasnav = document.getElementsByClassName('lineasnav')[0]
            const leftnav2 = document.getElementsByClassName('leftnav2')[0]
            const cancelleftnav2 = document.getElementsByClassName('cancelleftnav2')[0]
            lineasnav.addEventListener('click',()=> {
            leftnav2.classList.toggle('active')
            })
            cancelleftnav2.addEventListener('click',()=> {
            leftnav2.classList.toggle('active')
            })

            const cardsmas = document.getElementsByClassName('cardsmas')[0]

            const mas = document.getElementsByClassName('mas')[0]
            mas.addEventListener('click',()=> {
            cardsmas.classList.toggle('active')
            mas.classList.toggle('active')
            menos.classList.toggle('active')
            })

            const menos = document.getElementsByClassName('menos')[0]
            menos.addEventListener('click',()=> {
            cardsmas.classList.toggle('active')
            mas.classList.toggle('active')
            menos.classList.toggle('active')
            })

            const testimonio1 = document.getElementsByClassName('testimonio1')[0]
            testimonio1.classList.toggle('active')
            const testimonio2 = document.getElementsByClassName('testimonio2')[0]
            const testimonio3 = document.getElementsByClassName('testimonio3')[0]
            const testimonio4 = document.getElementsByClassName('testimonio4')[0]
            const testimoniosizq = document.getElementsByClassName('testimoniosizq')[0]
            const testimoniosder = document.getElementsByClassName('testimoniosder')[0]

        </script>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>


    </body>

</html>